# Maven
target/
*.jar
*.war
*.class

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Environment & Secrets
application.properties
application-local.properties
src/main/resources/application-local.properties

*.env
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/